/**
!/js-projects/lambda/**
!/js-projects/lambda++/**
!/js-projects/blackjackodds.js
!/js-projects/zeroFinder.js
!/js-projects/calcDice.js
!/js-projects/package.json
!/js-projects/package-lock.json
!/python-projects/wordMaker.py
!/python-projects/posterize.py
!/python-projects/POMDPs/POMDP.py
!/python-projects/POMDPs/POMDP_grid.py
!/python-projects/POMDPs/POMDP_sim.py
!/python-projects/POMDPs/grid1.txt
!/java-projects/**

*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.log
*.sql
*.sqlite
.DS_Store

!README.md
!CHANGELOG.md