/**
!.gitignore
!/js-projects
!/js-projects/lambda
!/js-projects/lambda/**
!/js-projects/lambda++
!/js-projects/lambda++/**
!/js-projects/cards
!/js-projects/cards/deck.js
!/js-projects/cards/blackjackodds.js
!/js-projects/zeroFinder.js
!/js-projects/calcDice.js
!/js-projects/ticTacToe.js
!/js-projects/chopsticks.js
!/js-projects/package.json
!/js-projects/package-lock.json
!/js-projects/README.md
!/python-projects
!/python-projects/wordMaker.py
!/python-projects/posterize.py
!/python-projects/POMDPs
!/python-projects/POMDPs/POMDP.py
!/python-projects/POMDPs/POMDP_grid.py
!/python-projects/POMDPs/POMDP_sim.py
!/python-projects/POMDPs/grid1.txt
!/python-projects/POMDPs/Abstract.pdf
!/python-projects/POMDPs/Poster.pdf
!/python-projects/POMDPs/README.md
!/js-projects/README.md
!/java-projects
!/java-projects/**

*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.log
*.sql
*.sqlite
.DS_Store

!README.md
!CHANGELOG.md